<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menù</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>


          <!--Prova 1-->
          <ion-list>
            <ion-item-divider>
              <ion-label>
                Ricerca
              </ion-label>
            </ion-item-divider>
          
            <ion-item><ion-label>Ricerca per indirizzo</ion-label></ion-item>
            <ion-item><ion-label>Ricerca per data</ion-label></ion-item>
          </ion-list>
          <!--fine Prova 1-->


          
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
