.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#title_home{
  color: var(--color-arduino-grey);
  font-weight: bold;
}

.bluetooth-buttons {
  --background: var(--color-arduino-grey);
  
}