#title_home{
  color: var(--color-arduino-grey);
  font-weight: bold;
}

.bluetooth-buttons {
  --background: var(--color-arduino-grey);
  
}

ion-card-header {
  font-weight: bold;
  font-size: 17px;
}
