<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="title_home">
      Florence Clean Parking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-label>
                    <p>Stato Connessione:</p>
                    <p *ngIf="!isConnected">Disconnesso</p>
                    <p *ngIf="isConnected">Connesso</p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isConnected">
              <ion-col offset="5">
                <ion-button margin (click)="onDisconnect()">
                  <ion-label>Disconnetti</ion-label>
                  <ion-icon slot="start" name="power"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!isConnected">
              <ion-col offset="6">
                <ion-button margin (click)="onConnect()">
                  <ion-label>Connetti</ion-label>
                  <ion-icon slot="start" name="bluetooth"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!(bluetoothEnabled)">
              <ion-col size="5" offset="7">
                <ion-label color="danger">
                  Attiva il bluetooth!
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
